*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.15 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.z-\[100\] {
  z-index: 100;
}

.mx-\[10px\] {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-\[12px\] {
  margin-top: 12px;
  margin-bottom: 12px;
}

.ml-\[20px\] {
  margin-left: 20px;
}

.mt-\[22px\] {
  margin-top: 22px;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-\[40px\] {
  height: 40px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[510px\] {
  width: 510px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.max-w-\[250px\] {
  max-width: 250px;
}

.max-w-\[530px\] {
  max-width: 530px;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-items-center {
  justify-items: center;
}

.gap-4 {
  gap: 1rem;
}

.gap-\[1rem\] {
  gap: 1rem;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[10px\] {
  gap: 10px;
}

.justify-self-center {
  justify-self: center;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border-2 {
  border-width: 2px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-b-8 {
  border-bottom-width: 8px;
}

.border-b-4 {
  border-bottom-width: 4px;
}

.border-solid {
  border-style: solid;
}

.border-\[\#352317\] {
  --tw-border-opacity: 1;
  border-color: rgb(53 35 23 / var(--tw-border-opacity, 1));
}

.border-b-\[\#352317\] {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(53 35 23 / var(--tw-border-opacity, 1));
}

.bg-red-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(185 28 28 / var(--tw-bg-opacity, 1));
}

.bg-custom-gradient {
  background-image: linear-gradient(250.55deg, #120b07 0%, #311b0d 28.55%, #160d07 75.55%);
}

.bg-custom-gradient2 {
  background-image: linear-gradient(250.55deg, #120b07 0%, #311b0d 28.55%, #160d07 75.55%);
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.p-\[90px_16\%_80px\] {
  padding: 90px 16% 80px;
}

.px-\[25px\] {
  padding-left: 25px;
  padding-right: 25px;
}

.px-\[32px\] {
  padding-left: 32px;
  padding-right: 32px;
}

.px-\[35px\] {
  padding-left: 35px;
  padding-right: 35px;
}

.px-\[60px\] {
  padding-left: 60px;
  padding-right: 60px;
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-\[14px\] {
  padding-top: 14px;
  padding-bottom: 14px;
}

.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-\[16\%\] {
  padding-top: 16%;
  padding-bottom: 16%;
}

.py-\[20\%\] {
  padding-top: 20%;
  padding-bottom: 20%;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[30\%\] {
  padding-top: 30%;
  padding-bottom: 30%;
}

.pb-\[30px\] {
  padding-bottom: 30px;
}

.pt-\[10px\] {
  padding-top: 10px;
}

.pt-\[20px\] {
  padding-top: 20px;
}

.pt-\[30px\] {
  padding-top: 30px;
}

.align-middle {
  vertical-align: middle;
}

.font-\[Forum\] {
  font-family: Forum;
}

.font-\[forum\] {
  font-family: forum;
}

.text-\[1\.1rem\] {
  font-size: 1.1rem;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[3\.5rem\] {
  font-size: 3.5rem;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[35px\] {
  font-size: 35px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-\[42px\] {
  font-size: 42px;
}

.text-\[45px\] {
  font-size: 45px;
}

.text-\[5\.5rem\] {
  font-size: 5.5rem;
}

.font-medium {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.leading-tight {
  line-height: 1.25;
}

.text-\[\#d6d4c8\] {
  --tw-text-opacity: 1;
  color: rgb(214 212 200 / var(--tw-text-opacity, 1));
}

.text-\[\#ffffff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-\[Forum\] {
  color: Forum;
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-\[forum\] {
  color: forum;
}

.text-current {
  color: currentColor;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hover\:-translate-y-1:hover {
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-\[1\.07\]:hover {
  --tw-scale-x: 1.07;
  --tw-scale-y: 1.07;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:text-\[\#ffa86a\]:hover {
  --tw-text-opacity: 1;
  color: rgb(255 168 106 / var(--tw-text-opacity, 1));
}

@media (min-width: 640px) {
  .mobile\:order-1 {
    order: 1;
  }

  .mobile\:order-2 {
    order: 2;
  }

  .mobile\:flex {
    display: flex;
  }

  .mobile\:grid {
    display: grid;
  }

  .mobile\:w-full {
    width: 100%;
  }

  .mobile\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .mobile\:flex-col {
    flex-direction: column;
  }

  .mobile\:items-start {
    align-items: flex-start;
  }

  .mobile\:justify-center {
    justify-content: center;
  }

  .mobile\:justify-self-center {
    justify-self: center;
  }

  .mobile\:px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mobile\:px-\[8\%\] {
    padding-left: 8%;
    padding-right: 8%;
  }

  .mobile\:py-\[16\%\] {
    padding-top: 16%;
    padding-bottom: 16%;
  }

  .mobile\:py-\[40px\] {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .mobile\:px-\[30px\] {
    padding-left: 30px;
    padding-right: 30px;
  }

  .mobile\:py-\[6\%\] {
    padding-top: 6%;
    padding-bottom: 6%;
  }

  .mobile\:text-\[25px\] {
    font-size: 25px;
  }

  .mobile\:text-\[36px\] {
    font-size: 36px;
  }

  .mobile\:text-\[45px\] {
    font-size: 45px;
  }

  .mobile\:text-\[30px\] {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .tablet\:flex {
    display: flex;
  }

  .tablet\:grid {
    display: grid;
  }

  .tablet\:grid-cols-\[repeat\(auto-fit\2c minmax\(200px\2c 1fr\)\)\] {
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  }

  .tablet\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .tablet\:flex-col {
    flex-direction: column;
  }

  .tablet\:items-start {
    align-items: flex-start;
  }

  .tablet\:items-center {
    align-items: center;
  }

  .tablet\:justify-center {
    justify-content: center;
  }

  .tablet\:px-\[30px\] {
    padding-left: 30px;
    padding-right: 30px;
  }

  .tablet\:py-\[16\%\] {
    padding-top: 16%;
    padding-bottom: 16%;
  }

  .tablet\:py-\[6\%\] {
    padding-top: 6%;
    padding-bottom: 6%;
  }

  .tablet\:text-\[4\.5rem\] {
    font-size: 4.5rem;
  }

  .tablet\:text-\[45px\] {
    font-size: 45px;
  }

  .tablet\:text-\[40px\] {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  .laptop\:order-1 {
    order: 1;
  }

  .laptop\:order-2 {
    order: 2;
  }

  .laptop\:mt-\[50px\] {
    margin-top: 50px;
  }

  .laptop\:block {
    display: block;
  }

  .laptop\:grid {
    display: grid;
  }

  .laptop\:h-screen {
    height: 100vh;
  }

  .laptop\:w-full {
    width: 100%;
  }

  .laptop\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .laptop\:grid-cols-\[repeat\(auto-fit\2c minmax\(200px\2c 1fr\)\)\] {
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  }

  .laptop\:items-center {
    align-items: center;
  }

  .laptop\:p-\[110px_16\%_80px\] {
    padding: 110px 16% 80px;
  }

  .laptop\:p-\[80px_6\%_70px\] {
    padding: 80px 6% 70px;
  }

  .laptop\:p-\[40px_6\%_70px\] {
    padding: 40px 6% 70px;
  }

  .laptop\:p-\[110px_16\%_50px\] {
    padding: 110px 16% 50px;
  }

  .laptop\:p-\[50px_6\%_70px\] {
    padding: 50px 6% 70px;
  }

  .laptop\:p-\[80px_16\%_70px\] {
    padding: 80px 16% 70px;
  }

  .laptop\:p-\[110px_6\%_50px\] {
    padding: 110px 6% 50px;
  }

  .laptop\:px-\[8\%\] {
    padding-left: 8%;
    padding-right: 8%;
  }

  .laptop\:py-\[40px\] {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .laptop\:text-\[30px\] {
    font-size: 30px;
  }

  .laptop\:text-\[35px\] {
    font-size: 35px;
  }

  .laptop\:text-\[5\.5rem\] {
    font-size: 5.5rem;
  }

  .laptop\:text-\[40px\] {
    font-size: 40px;
  }

  .laptop\:text-\[46px\] {
    font-size: 46px;
  }

  .laptop\:text-\[36px\] {
    font-size: 36px;
  }
}

@media (min-width: 1280px) {
  .desktop\:grid {
    display: grid;
  }

  .desktop\:grid-cols-\[repeat\(auto-fit\2c minmax\(200px\2c 1fr\)\)\] {
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  }

  .desktop\:p-\[110px_16\%_80px\] {
    padding: 110px 16% 80px;
  }

  .desktop\:p-\[90px_16\%_80px\] {
    padding: 90px 16% 80px;
  }

  .desktop\:p-\[80px_6\%_70px\] {
    padding: 80px 6% 70px;
  }

  .desktop\:p-\[80px_16\%_70px\] {
    padding: 80px 16% 70px;
  }

  .desktop\:p-\[110px_6\%_80px\] {
    padding: 110px 6% 80px;
  }

  .desktop\:py-\[110px_16\%_80px\] {
    padding-top: 110px 16% 80px;
    padding-bottom: 110px 16% 80px;
  }

  .desktop\:text-\[6\.5rem\] {
    font-size: 6.5rem;
  }

  .desktop\:text-\[7\.5rem\] {
    font-size: 7.5rem;
  }

  .desktop\:text-\[5\.5rem\] {
    font-size: 5.5rem;
  }

  .desktop\:text-\[45px\] {
    font-size: 45px;
  }
}

@media (min-width: 1536px) {
  .l-desktop\:mt-0 {
    margin-top: 0px;
  }

  .l-desktop\:p-\[110px_16\%_80px\] {
    padding: 110px 16% 80px;
  }
}